<div class="container">
  <div class="row">
    <% @entries.each do |e| %>
      <% if @my_account != e.user.id %>
        <h4><strong><%= e.user.name %>さんとのトークルーム</strong></h4>
      <% end %>
    <% end %>
  </div>

  <div class="line-bc">
    <% if @messages.present? %>
      <% @messages.each do |m| %>
        <% if @myUserId == m.user.id %>
         <p style="text-align: left;"></P>
        <div class="balloon6">
          <div class="chatting">
            <div class="mycomment">
              <p><%= m.message %></p>
            </div>
          </div>
        </div>
        <% else %>
        <p style="text-align: right;"></p>
        <div class="says">

        <p><%= m.message %></p>
        </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>


    