.cover-new {
    height: 100%;
    width: 100%;
    background-image: url(/assets/new2.jpg);
    background-color: rgba(255,255,255,0.4);
    background-blend-mode: lighten;
    background-size: 100% 100%;
}

.chat-container {
    padding: 20px 10px;
    width: 50%;
    margin: 15px 15px;
    text-align: center;
    font-size: 14px;
    flex-direction: colum;
    background: #ffffff;
}

.says {
    display: inline-block;
    position: relative;
    margin: 0 0 0 100px;
    padding: 10px;
    max-width: 250px;
    text-align: right;
    border-radius: 12px;
    background: #ff9999;
}

.mycomment {
    display: inline-block;
    position: relative;
    margin: 0 100px 0 0;
    padding: 10px;
    max-width: 250px;
    text-align: left;
    border-radius: 12px;
    background: #66ffcc;
}